# ==============================
# Logs
# ==============================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# Dependencies
# ==============================
node_modules/

# ==============================
# Build files
# ==============================
dist/
build/
dist-ssr/

# ==============================
# Environment Variables
# ==============================
.env
.env.*
server/.env
client/.env

# ==============================
# IDE & Editor files
# ==============================
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# ==============================
# OS files
# ==============================
Thumbs.db

# ==============================
# Optional: Coverage
# ==============================
coverage/
